<aside id="category-sidebar">
    <nav>
        <ul id="sidebar-list" class="flex-column">
            {{#each .}}
            <li>
                {{name}}
            </li>
             {{/each}}
        </ul>
    </nav>
</aside>
<section id="product-list-container">
    {{> _product }}
</section>

{{!-- <script type="text/javascript" src="../../js/productlist.js"></script> --}}
