<aside id="product-category-sidebar">
    <nav>
        <ul class="flex-column">
            <li>
                a
            </li>
        </ul>
    </nav>
</aside>

<script>
    const productCategories = [
        ''
    ]
</script>