<div class="action-container">
    <section id="text-banner">
        <h1>Signup</h1>

        <p>We do not share your personal details with anyone</p>
    </section>

    <section id="form-container">

        <form class="form-md">
            <div class="form-group">
                <input id="fname" class="form-control" type="text" required>
                <label for="fname">First Name</label>
            </div>
  
            <div class="form-group">
                <input id="lname" class="form-control" type="text" required>
                <label for="lanme">Last Name</label>
            </div>
            
            <div class="form-group">
                <input id="email" class="form-control" type="email" required>
                <label for="email">Email</label>
            </div>
  
            <div class="form-group">
                <input id="password" class="form-control" type="password" required>
                <label for="password">Password</label>
            </div>

            <div class="form-group">
                <input id="password2" class="form-control" type="password" required>
                <label for="password2">Confirm Password</label>
            </div>

            <br>

            <button type="submit">Signup</button>
        </form>

    </section>
</div>