<section class="productlist__container">

    <app-category-sidenav 
        class="productlist__sidenav"
        *ngIf="categories.length"
        [categories]="categories">
    </app-category-sidenav>

    <div class="productlist__products">
        <div class="row">
            <ng-container *ngIf="displayedProducts.length; else noDataBlock">
                <app-product 
                    class="col-lg-3 col-md-6 col-sm-12" 
                    *ngFor="let product of displayedProducts"
                    [product]="product" 
                    (productAdded)="addToCart($event)">
                </app-product>
            </ng-container>
        </div>
    </div>
    
</section>

<ng-template #noDataBlock>
    <p class="no-data text-center">Oops! No macthing products found!</p>
</ng-template>