@import '../../../styles/constants.scss';
@import '../../../styles/layout.scss';

:host {
    @include flex-1;
}

.productlist-container {
    @include flex;

    @include media-breakpoint-down(sm) {
        @include flex-column;
    }

    .cat-sidenav {
        flex: 0 1 20%;
        background-color: $ab-lt-grey;

        @include media-breakpoint-down(md) {
            flex: 0 1 25%;
        }

        @include media-breakpoint-down(sm) {
            flex: 1;
        }
    }

    .products {
        flex: 1;

        .row {
            margin: 0 !important;
        }
    }
}

[class^="col-"] {
    padding: 0;
}

.no-data {
    width: 100%;
    font-size: $font-14;
    font-weight: $font-semi-bold;
    margin: 10px;
}