@import '../../../styles/constants.scss';
@import '../../../styles/layout.scss';

aside {
    background-color: $ab-lt-grey;

    nav {
        ul li {
            padding: 3% 10%;
            border-bottom: 1px solid $ab-md-grey;
            font-weight: $font-semi-bold;
            color: $ab-dk-grey;
            cursor: pointer;

            a {
                color: unset !important;
            }
        }

        @include media-breakpoint-down(sm) {
            display: none;
        }
    }
    
    select {
        background-color: $ab-pink;
        color: $ab-white;
        width: 100%;
        padding: 10px;
        border: none;
        display: none;
        
        @include media-breakpoint-down(sm) {
            display: block;
            margin-top: 10px;
        }

        option {
            background-color: white;
            color: $ab-black;

            .active {
                background-color: $ab-lt-grey-2;
            }
        }
    }
}

.active {
    background-color: $ab-lt-grey-2;
}