<!DOCTYPE html>
<html lang="en">
{{> partials/_head }}
<body>
    {{> partials/_header }}
    
    <div class="main">
        {{!-- {{> partials/_cart }} --}}
    </div>

    {{> partials/_footer }}
</body>
</html>