<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class="header__header-bar">
        <div class="header__container">
            <div class="header__icon">
                <img src="/images/logo.png" alt="Logo">
            </div>

            <nav class="header__navigation">
                <a href="./home.html">Home</a>
                <a href="./product-listing.html">Products</a>
            </nav>

            <div class="header__user-action">
                <nav class="header__user-nav-action">
                    <a href="./signin.html">Signin</a>
                    <a href="./register.html">Register</a>
                </nav>

                <div class="header__cart-icon">
                    <a href="./cart.html">
                        <img src="/images/cart.svg" alt="Cart">
                    </a>
                </div>
            </div>
        </div>
    </header>

</body>
</html>