<!DOCTYPE html>
<html lang="en">
{{> partials/_head }}
<body>
    {{> partials/_header }}
    
    <div class="main">
        {{> partials/_product_categories }}
    </div>
    
    {{> partials/_footer }}

</body>
</html>