@import url('https://fonts.googleapis.com/css?family=Dosis:400,600,700');

@import './common.scss';
@import './header.scss';
@import './footer.scss';
@import './signin.scss';

$dosis: Dosis;

body {
    margin: 0;
    padding: 0;
    font-family: $dosis;
    font-size: $font-13;
    font-weight: $font-regular;
}

* {
    outline: none;
}

.main {
    @include centered-page;

    @include breakpoint('tablet') {
        @include no-margin-page;
    }
}