/** 
    Defined the set of style variables / constants to be used in the app
**/

$font-family: Dosis;

$font-11: 11px;
$font-12: 12px;
$font-13: 13px;
$font-14: 14px;
$font-15: 15px;
$font-16: 16px;

$font-regular: 400;
$font-semi-bold: 600;
$font-bold: 700;

$ab-white: #fff;
$ab-pink: #d00255;
$ab-black: #2a2a2a;
$ab-dk-grey: grey;
$ab-md-grey: #BDBDBD;
$ab-lt-grey: #eeeeee;
$ab-lt-grey-2: #E0E0E0;
$ab-aqua: #51bbbe; 