@import "~/node_modules/bootstrap/scss/bootstrap.scss";

/* 
Inbuilt breakpoint mixins of Bootstrap
    media-breapoint-down(bp) => (max-width: xx)
    media-breakpoint-up(bp)  => (min-width: xx)
*/


@include media-breakpoint-up(md) {
    .container {
        max-width: 75% !important;
        padding: 0 !important;
    }
}

@include media-breakpoint-down(md) {
    .container {
        max-width: 100% !important;
        padding: 0 !important;
        margin: 0 !important;
    }
}

@mixin flex {
    display: flex;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}