@import '../../../styles/constants.scss';
@import '../../../styles/layout.scss';

.add-count, .remove-count {
    @include flex-center;
    height: 15px;
    width: 20px;
    background-color: $ab-pink;
    color: $ab-white;
    border-radius: 3px;
    padding: 0;
    cursor: pointer;

    @include media-breakpoint-up(lg) {
        height: 15px;
        width: 15px;
        border-radius: 50px;
    }
}

.add-count {
    margin-right: 5px;
}

.count {
    margin: 0 5px;
}

.remove-count {
    margin-left: 5px;
}