@import '../../../styles/constants.scss';
@import '../../../styles/layout.scss';

section {
    padding: 5px;
    border-bottom: 1.25px dashed $ab-md-grey;
    margin: 8px;
    position: relative;

    h2 {
        height: 65px;
        font-size: $font-15;
        font-weight: $font-bold;

        @include media-breakpoint-down(md) {
            height: 45px;
        }

        @include media-breakpoint-down(sm) {
            height: auto;
            margin-bottom: 15px;
        }
    }

    figure {
        
        @include media-breakpoint-down(md) {
            display: flex;
        }

        img {
            width: 100%;
            height: 100%;
            
            @include media-breakpoint-down(md) {
                width: 50%;
                padding-right: 15px;
            }
        }

        figcaption {
            padding: 6px;
            background: $ab-lt-grey;
            margin-top: 10px;

            @include media-breakpoint-down(md) {
                height: 135px;
            }

            @include media-breakpoint-down(sm) {
                height: 15vh;
                margin-top: 0;
                margin-bottom: 0;
            }
            
            p {
                height: 66px;
                font-size: $font-11;
                margin-bottom: 0;
                overflow: auto;
                scrollbar-width: none;
                -ms-overflow-style: none;

                &::-webkit-scrollbar {
                    display: none;
                }

                @include media-breakpoint-down(md) {
                    height: 100%;
                }
            }
            
        }
    }

    .product-buy {
        margin-bottom: 5px;
        
        .product-price {
            font-weight: $font-semi-bold;

            @include media-breakpoint-between(xs,md) {
                display: none !important;
            }
        }

        button {
            margin-left: auto;
            width: 75px;

            @include media-breakpoint-only(md) {
                margin-left: 0;
                width: 100%;
            }

            @include media-breakpoint-down(sm) {
                position: absolute;
                right: 2%;
                bottom: 10%;
                width: 48%;
                display: block !important;
            }

            .buy-now-text-lg {
                @include media-breakpoint-up(lg) {
                    display: block !important;
                }
            }

            .buy-now-text-md {
                @include media-breakpoint-only(md) {
                    display: block !important;
                }
            }

            .buy-now-text-sm {
                @include media-breakpoint-down(sm) {
                    display: block !important;
                }
            }
        }
    }
}