<section class="product flex-column">
    <h2 class="product__name">{{product.name}}</h2>

    <figure class="product__figure">
        <img [src]="product.imageURL | imgSrc" [alt]="product.name">

        <figcaption>
            <div class="product__figure--desc"> {{product.description}} </div>
        </figcaption>
    </figure>

    <div class="product__buy d-flex align-items-center">
        <div class="product__buy--price"> MRP Rs.{{product.price}} </div>
        <button class="product__buy--now" (click)="addToCart()">
            <span class="d-none product__buy--now-lg">Buy Now </span>
            <span class="d-none product__buy--now-md">Buy Now @ MRP Rs.{{product.price}}</span>
            <span class="d-none product__buy--now-sm">Buy Now @ Rs.{{product.price}}</span>
        </button>
    </div>
</section>
