<div class="signup-container">
    <section id="text-banner">
        <h1>Signup</h1>
        <br>
        <p>We do not share your personal details with anyone</p>
    </section>

    <section id="form-container">
        <form aria-label="Signup form" [formGroup]="signupForm" (ngSubmit)="signup()">
            <div class="form-floating mb-4">
                <input type="text" id="firstName" formControlName="firstName" class="form-control" required aria-required="true">
                <label for="firstName" aria-labelledby="firstName">First Name</label>
            </div>

            <div class="form-floating mb-4">
                <input type="text" id="lastName" formControlName="lastName" class="form-control" required aria-required="true">
                <label for="lastName" aria-labelledby="lastName">Last Name</label>
            </div>

            <div class="form-floating mb-4">
                <input type="email" id="email" formControlName="email" class="form-control" required aria-required="true">
                <label for="email" aria-labelledby="email">Email</label>
            </div>

            <div class="form-floating mb-4">
                <input type="password" id="password" formControlName="password" class="form-control" required aria-required="true">
                <label for="password" aria-labelledby="password">Password</label>
                <span aria-live="assertive" class="form-control-error"
                    *ngIf="signupForm.controls.password.dirty && signupForm.controls.password.invalid">
                    Password must be between 6-18 characters, must contain 1 letter and 1 number and whitespaces not allowed
                </span>
            </div>
            
            <div class="form-floating mb-4">
                <input type="password" id="password2" formControlName="password2" class="form-control" required aria-required="true">
                <label for="password2" aria-labelledby="password2">Confirm Password</label>
                <span aria-live="assertive" class="form-control-error"
                    *ngIf="signupForm.controls.password2.dirty && signupForm.errors?.passwordMismatch">
                    Password does not match
                </span>
            </div>

            <br>

            <button type="submit" [disabled]="signupForm.invalid">Signup</button>
        </form>
    </section>
</div>