@import url('https://fonts.googleapis.com/css?family=Dosis:400,600,700');
@import './styles/constants.scss';
@import './styles/layout.scss';

body, html {
    margin: 0;
    padding: 0;
    font-family: $font-family !important;
    font-weight: $font-regular;
    font-size: $font-12 !important;
    background-color: $ab-white;
    min-height: 100vh;
}

/* * {
    outline: none;
}
 */
nav {
    ul {
        @include flex;
        list-style: none;
        margin: 0 !important;
        padding: 0 !important;

        li {
            display: inline;
        }
    }
}

button {
    padding: 6px 12px;
    color: white;
    background-color: $ab-pink;
    border: 1px $ab-pink;
    white-space: nowrap;

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}

img {
    width: 100%;
}