<div class="signin-container">
    <section id="text-banner">
        <h1>Login</h1>
        <br>
        <p>Get access to your Orders, Wishlist and Recommendations</p>
    </section>

    <section id="form-container">
        <form #loginForm="ngForm" (ngSubmit)="login()">
            <div class="form-floating mb-4">
                <input type="email" id="email" class="form-control" name="email" ngModel required aria-required="true">
                <label for="email" aria-labelledby="email">Email address</label>
            </div>

            <div class="form-floating mb-4">
                <input type="password" id="password" class="form-control" name="password" ngModel
                    [pattern]="pattern" required aria-required="true">
                <label for="password" aria-labelledby="password">Password</label>
                <span aria-live="assertive" class="form-control-error"
                    *ngIf="loginForm.controls?.password?.dirty && loginForm.controls.password.invalid">
                    Password must be between 6-18 characters, must contain 1 letter and 1 number and whitespaces not allowed
                </span>
            </div>

            <br>
            
            <button type="submit" [disabled]="loginForm.invalid">Login</button>
        </form>
    </section>
</div>